{{define "footer"}}

<footer>
	<table width="100%" border="0" height="100"cellspacing="5px" cellpadding="5px" bgcolor="#5f5fff" >
   	<tr>
   		<td align="left"><font face="Verdana,Geneva<sans-serif" color="white"><h2>About</h2><h4>Developers<br>Guide<br>Vision</h4> </td>
   		<td align="left"><font face="Verdana,Geneva<sans-serif" color="white"><h2>Contact Us</h2><h4>Phone:+91-xxxxxxxxx<br>Email:WEBandroid@gmail.com</h4></td>
   		<td align="left"><font face="Verdana,Geneva<sans-serif" color="white"><h2>Buy me a Coffee</h2><h4>Donations<br>Help<br>services</h4></td>
   	</tr>



   		<tr>
   			<td align="center"><font face="Verdana,Geneva<sans-serif" color="white"><h6> Android Security Automation Project <h6><font></td>
   			


   		</tr>




   </table>

</footer>

{{end}}
