{{define "yield"}}   
 
<img src="/assets/images/banner-final.jpg" width="100%">

<div class="row">
  <div class="column">
    <div class="card">
    	<img src="/assets/images/JADX.webp" width="200px" height="200px">
    	<h3>Jadx</h3>
      <button class="button">Upload</button><br>
      <button class="button1">Download</button></div>
    
  </div>
  <div class="column">
    <div class="card">
    	<img src="/assets/images/Dex2jar.webp" width="200px" height="200px">
    	<h3>Dex2jar</h3>
      <button class="button">Upload</button><br>
      <button class="button1">Download</button></div>
    </div>

  <div class="column">
    <div class="card"><img src="/assets/images/R.jpg" width="200px" height="200px">
    	<h3>APK to java</h3>
      <button class="button">Upload</button><br>
      <button class="button1">Download</button></div>
  </div>
  <div class="column">
    <div class="card"><img src="/assets/images/jar.jpg" width="200px" height="200px">
    	<h3>Jar</h3>
      <button class="button">Upload</button><br>
      <button class="button1">Download</button></div>
  </div>

  <div class="column">
    <div class="card"><img src="/assets/images/JAD.png" width="200px" height="200px">
    	<h3>Jad</h3>
      <button class="button">Upload</button><br>
      <button class="button1">Download</button></div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card"><img src="/assets/images/header.png" width="200px" height="200px">
    	<h3>apktool</h3>
      <form action="/apktool" method="GET" id="apktoolform">
        <input type="file" id="myFile" name="filename" style="display:none;"/>
      </form>
      <button class="button1">Download</button></div>
    </div>
    <div class="column">
    <div class="card"><img src="/assets/images/enjarify.png" width="200px" height="200px">
    	<h3>enjarify</h3>
      <button class="button">Upload</button><br>
      <button class="button1">Download</button></div>
  </div>
</div>

{{end}}